.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("/image/neda-astani-KWTkd7mHqKE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(13, 166, 168, 0.482);
  padding: 20px;
  padding-top: 30px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__header,
.card__footer {
  grid-column: span 2;
}
.card__title {
  text-align: center;
  font-size: 2.5rem;
}
.card__subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.card__temp {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(5, 54, 78, 0.945);
}

.card__info {
  padding-top: 20px;
}

.card__description {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 500;
}

.card__list {
  display: grid;
  gap: 5px;
}

.card__item {
  font-size: 1rem;
  font-weight: 300;
}

.card__footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.card__btn {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(144, 204, 221, 0.562);
  color: white;
  box-shadow: 1px 1px 10px rgba(1, 42, 117, 0.7);
  transition: transform 100ms ease;
}
.card__btn:hover {
  transform: scale(1.04);
}
.card__btn:active {
  transform: scale(1);
  box-shadow: 1px 1px 5px rgba(1, 42, 117, 0.7);
}

.card__loading {
  font-size: 4rem;
}
